.radio-list {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 1em;
}

.radio-button {
  margin-bottom: 0.5em;
}

.question {
  font-size: x-large;
}

.countryGroup {
  margin: 1em;
  font-size: larger;
  display: flex;
  flex-direction: column;
}

.regionGroup {
  margin: 1em;
  font-size: larger;
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-input {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

input {
  margin: 3px;
}

.top-border {
  border-top-style: ridge;
  border-top-width: 5px;
}

.content {
  width: 70%;
  font-size: 20px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  visibility: hidden;
  height: 0;
}

.visible {
  visibility: visible;
}
