body {
  background-color: #FFBC60;
}

h1 {
  text-align: center;
}

.background {
  background: linear-gradient(rgba(234, 255, 225, 0.9), rgba(234, 255, 225, 0.4)), url("africa-laylines.jpg");
  background-size: cover, cover;
  background-repeat: no-repeat;
  margin-top: 1em;
  padding: 3em;
  border-radius: 10px;
  filter: saturate(3);
}

.navbar {
  background: linear-gradient(45deg, #0054EA 40%, #00003C 60%);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 20px;
  z-index: 1;
}

.header {
  letter-spacing: 1.5px;
}

a:link {
  text-decoration: none;
}

.survey {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.blur {
  z-index: 1;
}

.emphasize-inset {
  box-shadow: inset 0 0 7px 4px rgba(255,255,255,.5);
}

/*.africa-image {
  background-image: ;
  background-repeat: no-repeat;
  background-size: 300px;
  overflow-x: visible;
}*/
