.p-one {
  background-image: url("one.jpg");
  height: 200px;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page {
  height: 100%;
}
