.gold-text {
  color:#c3a343;
   -webkit-text-fill-color: transparent;
   background: url('gold-texture.jpg') repeat;
   background: -o-linear-gradient(transparent, transparent);
   -webkit-background-clip: text;
}

.text-emphasis {
  	text-shadow: -1px -1px 0px rgba(255,255,255,0.1), 1px 1px 0px rgba(0,0,0,0.6);
}
